<div class="modal-box">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="project-info-box col-md-4">
            <div class="form-group">
                <label for="exampleInputEmail1">New stock:</label>
                <input #newStock type="number" class="form-control" placeholder="New stock">
            </div>
            <button (click)="setNewStock(newStock.value)" class="btn btn-success"> Set new stock</button>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>